__pycache__/
/.config/zsh/ohmyzsh/cache/
/.config/zsh/.zsh_sessions/
/.config/zsh/.zcompdump*
/.config/zsh/.zsh_history
/.config/ranger/plugins/*
/.config/nvim/plugin/packer_compiled.lua
.zsh_history
.DS_Store
*.zwc
